<style>
   @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
    .caixa {
    font-size: 14px;
    font-family: 'Montserrat', var(--sans-serif); 
    font-weight: 400;
    background-color: #fff;
    }
    
    .grafico {
        display: grid;
        grid-template-columns: 30px;
        grid-template-rows: 1fr;
        }
    
    .escala {
        flex-direction: column;
        font-size: 10px;
        border-right: 1px solid #333;
    }

    .wapper#flexbox{
        display: flex;
        gap: 10px;
        grid-template-columns: repeat (5, 1fr);
    }

    .wapper#flexbox div {
        min-width: 40px;
        background-color: purple;

    }

    .escala > div:after{
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 5px;
    margin-left: 5px;
    border-top: 1px solid #333;
    }

</style>
