  /* importamos a fonte do Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
  /* complete ou crie aqui as suas regras de CSS */
  .caixa {
    width: 100%;
    max-width: 700px;
    font-size: 14px;
    height: 470px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    border: 1px solid #999;
    font-family: 'Montserrat', var(--sans-serif);
    font-weight: 400;
    background-color: #fff;
  }
  .caixa > div {
      padding: 15px 30px;   
  }

    .caixa .titulo {
        background-color: #efefef;
        font-size: 24px;
        font-weight: bold;
    } 
    
    .caixa .fonte {
        background-color: #efefef;
    } 
    
    .grafico {
        display: grid;
        grid-template-columns: 30px 1fr;
        grid-template-rows: 1fr auto;
        }
    
    .escala {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        border-right: 1px solid #333;
    }

    .wapper#flexbox{
        display: flex;
        gap: 10px;
        grid-template-columns: repeat (5, 1fr);
    }

    .wapper#flexbox div {
        min-width: 40px;
    }

    .escala > div {
        flex-grow: 1;
        text-align: right;
        line-height: 0px;
    }

    .escala > div:after {
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 5px;
        margin-left: 5px;
        border-top: 1px solid #333;
    }
    .barras, .rotulos {
        display: flex;
        flex-direction: row;
        height: 100%;
        gap: 15px;
        padding-left: 30px;
    }
    .rotulos {
        grid-column: 2;
        grid-row: 2;
    }
    .barras {
        align-items: end;
    }
    .barras > div {
        flex-grow: 1;
        flex-basis: 100%;
        background-color: fuchsia;
        
    }
    .rotulos > div {
        flex-grow: 1;
        flex-basis: 100%;
        padding: 20px;
        text-align: center;
    }
    .eua {
        height: calc((22.94/25)*100%)
        opacity: 100%;
    }
    .ch {
        height: calc((16.86/25)*100%)
        opacity: 80%;
    }
    .jp {
        height: calc((5.10/25)*100%)
        opacity: 60%;
    }
    .al {
        height: calc((4.23/25)*100%)
        opacity: 40%;
    }
    .ru {
        height: calc((3.11/25)*100%)
        opacity: 20%;
    }